.title{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    transform: translateX(400px);
    margin-top: 90px;
}
.background{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: relative;
}